body {
	background-image: url(background.jpg);
	background-size:cover;
}


html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* h1{font-size: 3rem;
   color: hotpink;}

h2{font:serif;
color: deeppink;} */

.btn {font: 700;
border-radius: 300px;
text-transform: uppercase;}

.btn-primary{
    background-color: #F05F44;
    border-color: darkred;
    border-top-width: inherit;
}

.bg-primary {
  background-color: #ab2376 !important;
}